p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#count {
    font-size: 50pt;
    margin: 35px 0 0 0;
    z-index: 100;
}

#graph {
    z-index: -100;
    width: 100%;
    max-width: 1400px;
}

#graph-wrap {
    overflow: visible;
    text-align: center;
}


#updated {
    margin: auto;
    font-style: italic;
    font-size: 8pt;
}



@media screen and (min-width: 1430px) {

    #count {
        font-size: 50pt;
        margin: 50px 0 40px 0;
        z-index: 100;
    }

    #graph {
        margin-top: -75px;
        z-index: -100;
        width: 100%;
        max-width: 1400px;
    }
    
    #graph-wrap {
        overflow: hidden;
        height: 700px;
    }
}